<h1>Spending Tracker</h1>
<hr>
<% for transaction in @transactions %>
  <p>Retailer: <%= transaction.merchant.name.capitalize %></p>
  <p>Tag: <%= transaction.tag.type %></p>
  <p>Amount: $<%= transaction.amount %></p>
  <button type="button" name="new"><a href="/home/<%=transaction.id %>/edit">Edit</a></button>
  <form action="/home/<%=transaction.id %>/delete" method="post">
  <input type="submit" value="Delete">
  </form>
  <hr>
<% end %>

<p>Total Spent: $<%= @total %></p>
<button type="button" name="new"><a href="/home/new-retailer">New Retailer</a></button>
<button type="button" name="new"><a href="/home/new-tag">New Tag</a></button>
<button type="button" name="new"><a href="/home/new-transaction">New Transaction</a></button>
<br>
<button type="button" name="new"><a href="/home/budget">Add Budget</a></button>
