<form action="/transactions/<%=@transaction.id %>" method="post">
  <label for="amount">Amount:</label>
  <input type="text" name="amount" id="amount" value="<%= @transaction.amount %>"/>

  <label for="merchant">Retailer:</label>
  <select name="merchant_id" id="name">
    <% for merchant in @merchants%>
      <% if merchant.id == @transaction.merchant.id %>
      <option value=<%= merchant.id %> selected ><%= merchant.name %></option>
      <% else %>
      <option value=<%= merchant.id %> ><%= merchant.name %></option>
      <% end %>
    <% end %>
  </select>

  <select name="tag_id" id="type">
    <% for tag in @tags %>
      <option value=<%= tag.id %>><%= tag.type %></option>
    <%end %>
    <input type='submit' value="Submit">
  </select>
</form>
